@import 'config/style/colors.scss';

.board {
  background-color: lightslategrey;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .board__body {
    overflow: hidden;
    height: 100%;

    .boardCards__body {
      padding-top: 0.8rem;
      overflow: auto;
      padding: 0rem 0.5rem;

      .add__task {
        display: flex;
        color: $light_shade;
        cursor: pointer;
        border-radius: 3px;
        padding: 0.2em 0em;

        & > i {
          margin-left: 0.2rem;
        }

        & > p {
          margin: 0;
          margin-left: 0.1rem;
        }

        &:hover {
          background-color: rgba(black, 0.05);
          color: $task_title_color;
        }
      }
    }
  }
}
